@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-project-partners-section {
  padding: 4.8rem 0 6.6rem;

  &__headings {
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 4rem;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0rem 2rem;
    flex-wrap: wrap;
  }

  &__logo {
    display: block;
    padding: 2rem 1rem;

    img {
      display: block;
      width: 21.1607rem;
      height: 7.7679rem;
      object-fit: contain;
      object-position: center;
    }
  }

  @include media-up(md) {
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0rem 3.8rem;
      flex-wrap: wrap;
    }

    &__logo {
      padding: 4rem 1.4rem;
    }
  }
}