@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-dropbox-iframe {
  padding: 4.8rem 0 7rem;
  background-color: $grey-1;



  @include media-up(md) {}
}