@use "./variables" as *;
@use "./colors" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font-family: $font-body;
}

*::selection {
	background-color: $clr-text-selection-bg !important;
	color: $clr-text-selection !important;
	-webkit-text-fill-color: $clr-text-selection !important;
}

::-moz-selection {
	background: $clr-text-selection-bg !important;
	color: $clr-text-selection !important;
	-webkit-text-fill-color: $clr-text-selection !important;
}

html {
  overflow-x: hidden;
  font-size: calc(100vw / 390 * 10);
  scroll-behavior: smooth;

  @include media-up(md) {
    font-size: calc(100vw / 1728 * 10);

  }
}


.noscroll {
	overflow: hidden;
}

img {
	max-width: 100%;
}

body {
	color: clr(black);
}

b,
strong {
	font-weight: bold;
}

ul {
	padding: 0;
}

span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;

}

.wp-admin ul {
	list-style-image: initial;
}

