@use "./variables" as *;
@use "./colors" as *;
@use "./mixins" as *;

:root {
  --zoom: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: $font-body;
}

*::selection {
  background-color: $clr-text-selection-bg !important;
  color: $clr-text-selection !important;
  -webkit-text-fill-color: $clr-text-selection !important;
}

::-moz-selection {
  background: $clr-text-selection-bg !important;
  color: $clr-text-selection !important;
  -webkit-text-fill-color: $clr-text-selection !important;
}

html {
  overflow: clip visible;
  font-size: calc(100vw / 390 * 10);
  scroll-behavior: smooth;

  @include media-up(md) {
    // font-size: calc(var(--zoom) * min(calc(100vw / 1728 * 10), 100vw));
    font-size: calc(100vw / 1728 * 10);
  }
}


.noscroll {
  overflow: hidden;
}

img {
  max-width: 100%;
}

body {
  color: clr(black);
  background: $grey-1;
   background-image: url("/wp-content/themes/cyclo-cargologie/assets/img/bg.svg");
   background-repeat: no-repeat;
   background-size: calc(100vw - $container-margin);
   background-attachment: fixed;
   background-position: center;
   @include media-up(md) {
     background-size: calc(100vw - $container-margin-md);
   }
}

b,
strong {
  font-weight: bold;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;

}

.wp-admin ul {
  list-style-image: initial;
}

.hidden {
  visibility: hidden;
}
