@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@font-face {
  font-family: Denim INK WD TRIAL;
  src: url(/wp-content/themes/cyclo-cargologie/assets/fonts/DenimWD-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Denim INK WD TRIAL;
  src: url(/wp-content/themes/cyclo-cargologie/assets/fonts/DenimWD-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Denim INK WD TRIAL;
  src: url(/wp-content/themes/cyclo-cargologie/assets/fonts/DenimWD-Regular.otf);
  font-weight: 400;
}
