// Fonts
$font-headings: "Denim INK WD TRIAL", sans-serif;
$font-body: 'Inter', sans-serif;

// Radiuses
$radius-sm: 1.4rem;
$radius: 2.0rem;
$radius-xl: 5.0rem;

//Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// Container
$container-margin: 4rem;
$container-margin-xs: 4rem;
$container-margin-sm: 4rem;
$container-margin-md: 4rem;
$container-margin-lg: 19.2rem;
$container-margin-xl: 19.2rem;
$container-margin-xxl: 19.2rem;
$container-max-width: 1800px;

// HAMBURGER ==========================================
// Possibles values : always / with-breakpoint / none
$is-hamburger: with-breakpoint;
$hamburger-breakpoint: $screen-lg;

$z-layers: (
  "header": ("base": 30,
    "open": 100,
    "overlay": 50,
  ),
  "slider": 20,
  "modal": 20,
);