@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

// Remove tribe container
.single-tribe_events #tribe-events-pg-template {
  max-width: unset;
  padding: unset;
}

.tribe-events-notices {
  display: none;
}

.t-events-single-header {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -33.7rem;

  .l-container {
    background: $white;

  }

  &__column:first-child {
    margin-bottom: 30px;
  }

  &__column:nth-child(2) {
    position: relative;
    max-width: 69.6rem;
    padding: 4.4rem 0 0;
  }
  .f-card__tags {
    padding: 0;
  }

  &__subtitle {
    color: $black;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    font-family: $font-headings;
    margin: 0;
  }

  &__title {
    font-size: 3.5rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    margin: 1.3rem 0 1.1rem;

  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__descriptions {
    position: relative;
    margin: 0 0 1.3rem;
    padding: 2rem 0 2.4rem;
    font-size: 1.6rem;

    > :first-child {
      padding-top: 10px;
    }

  }

  &__description-en {
    color: $black;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }


  &__location {
    a {
      color: $black;
      width: fit-content;
      display: inline-block;
      text-decoration: none;

      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        background: $black;
        height: 1px;
        transition: width 0.3s;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  @include media-up(sm) {
    &__deco {
      transform: translateY(100%) !important;

    }
  }

  @include media-up(lg) {
    position: relative;
    padding-bottom: 60px;

    &__column:first-child {
      margin-bottom: 0;
    }

    .l-container {
      --gap: 10px;

      display: grid;
      grid-template-columns: auto auto;
      gap: 6.4rem;
      &> *:first-child {
        width: 70.9rem;
      }


    }

    &__date {
      font-size: 1.5625rem;
    }



    &__description-en {
      padding-left: 20px;
    }

    &__deco {
      right: 5vw;
      top: 10vh;
      transform: unset;
    }
  }
}

.t-events-single-slider {
  position: relative;
  margin-bottom: 30px;

  &__slide {
    cursor: pointer;
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;

    max-height: 600px;
    aspect-ratio: 1.3;
  }

  &__slide-statuses {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__slide-caption {
    position: relative;
    top: 5px;
    color: #989898;
  }

  .slick-track,
  .slick-list {
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  // Slick things
  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    height: auto;
    padding-bottom: 30px;
  }

  @include media-up(sm) {
    margin-bottom: -70px;

    &__index {
      position: relative;
      top: -100px;
    }
  }

  @include media-up(md) {
    &__image {
      width: 70.9rem;
      max-height: unset;
    }
    &__index {
      top: -120px;
    }
  }

  @include media-up(lg) {
    margin-bottom: 0;

    &__index {
      top: -100px;
    }
  }

  @include media-up(xxl) {
    &__slide img {
      max-height: 800px;
    }
  }
}

.c-events-single-related {
  padding: 40px 0;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
  position: relative;
  z-index: auto;
  background-color: $white;

  &__title {
    margin-bottom: 30px;
  }

  .c-event-card {
    margin-bottom: 30px;
  }

  @include media-up(lg) {
    padding: 40px 0 80px;

    &__events {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 10px;
    }
  }
}

// Admin interface
.wp-admin {
  #tribe_events_event_details {
    #event_tribe_venue,
    #event_tribe_organizer,
    #event_cost,
    .eventBritePluginPlug {
      display: none;
    }
  }
}


.t-events-single {
  &__background {
    height: 41.8rem;
    background: $yellow;
    position: relative;
    overflow: hidden;

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 36rem;
      height: 36.2rem;
      transform: translate(-30%, 2.2rem);
    }
  }

}
