@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

.t-page-not-found {
  height: 75.2rem;
  position: relative;

  &__tb {
    padding: 29rem 0 23.4rem;
  }

  h1 {
    color: $white;
    text-align: center;
    max-width: 58.5rem;
    margin: 0 auto;
    line-height: 110%;
    letter-spacing: -0.01em;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    svg {
      height: 100%;
    }

  }

  &__cta {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;

    .c-button {
      padding: 1.2rem 1.7rem;
      width: 30rem;

      span {
        font-size: 1.7rem;
      }

      svg {
        width: 4.6rem;
        height: 4.6rem;
      }
    }

  }
}
