@use "../../../assets/scss/base/colors"as *;
@use "../../../assets/scss/base/mixins"as *;

.f-next-events {


  &__tb {
    padding: 2.7rem 0 5rem;
  }

  &__title {
    font-size: 2.9rem;
  }

  &__events {
    padding: 3.7rem 0 0;
    &> * + * {
      margin-top: 1.8rem;
    }

  }

  .f-card__image {
    width: 100%;
  }

  &__cta {
    padding: 3.7rem 0 0;

    display: flex;
    justify-content: center;
  }

  .c-button {
    width: 26.7rem;
    span {
      font-size: 1.45rem;
    }
    svg {
      width: 3.6rem;
      height: 3.6rem;
    }
  }

  @include media-up(md) {
    &__tb {
      padding: 6.9rem 0 5rem;
    }

    &__title {
      font-size: 5.1rem;
    }
    &__events {
      padding: 3.7rem 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: .9rem;

    }
    .f-card__spotlight{
      margin-top: 0 ;
    }

  }
}
