@use "../../../assets/scss/base/colors"as *;
@use "../../../assets/scss/base/mixins"as *;
@use "../../../assets/scss/base/variables"as *;

.f-article-header {
  position: relative;
  z-index: 1;

  .l-container {
    background: $grey-1;

  }

  &__column:nth-child(2) {
    position: relative;
    padding: 2.4rem 0 2rem;
    .c-button{
      height: 6.1rem;
      span {
        font-size: 1.45rem;
      }
      svg {
        width:3.6rem;
        height: 3.6rem;
      }
    }
  }

  .f-card__tags {
    padding: 0;
    // flex-direction: column;
  }

  &__subtitle {
    * {
      color: $black;
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 500;
      font-family: $font-headings;
      margin: 0;
    }
  }

  &__title {
    font-size: 2.9rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    margin: 1.3rem 0 1.1rem;

  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 2rem;
  }

  &__descriptions {
    position: relative;
    margin: 0 0 1.3rem;
    padding: 2rem 0 2.4rem;
    font-size: 1.6rem;
    ul {
      padding: 1.7rem 0 0;
    }

    li {
      position: relative;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 140%;
      display: flex;
      align-items: center;
      padding-left: 2.35rem;
      margin-bottom: .9rem;

      &::before {
        content: url("/wp-content/themes/cyclo-cargologie/assets/icons/gear-wheel.svg");
        display: inline-block;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left: 0;
        top: .2rem;
      }
    }

  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &__location {
    a {
      color: $black;
      width: fit-content;
      display: inline-block;
      text-decoration: none;

      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        background: $black;
        height: 1px;
        transition: width 0.3s;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }



  @include media-up(md) {
    &__column:nth-child(2) {
      position: relative;
      max-width: 69.6rem;
      padding: 4.4rem 0 0;
    }

    position: relative;
    padding-bottom: 6rem;

    &__column:first-child {
      margin-bottom: 0;
    }

    .l-container {
      --gap: 1rem;

      display: grid;
      grid-template-columns: auto auto;
      gap: 6.4rem;
      &> *:first-child {
        width: 70.9rem;
      }


    }

    &__date {
      font-size: 1.5625rem;
    }

    &__title {
      font-size: 3.5rem;
    }



    &__description-en {
      padding-left: 2rem;
    }

    &__deco {
      right: 5vw;
      top: 10vh;
      transform: unset;
    }
  }
}
.f-article {
  @include media-down(md) {
    .c-yellow-background {
      height: 24.5rem;
    }
    .c-yellow-background-brother {
      margin-top: -22.2rem;
    }
  }
}

.f-article-slider {
  position: relative;

  &__slide {
    cursor: pointer;
    position: relative;
  }

  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;

    max-height: 60rem;
    aspect-ratio: 1.3;
  }

  &__slide-statuses {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__slide-caption {
    position: relative;
    top: .5rem;
    color: #989898;
  }

  .slick-track,
  .slick-list {
    -webkit-perspective: 200rem;
    perspective: 200rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  // Slick things
  .slick-track {
    display: flex;
    align-items: stretch;
  }



  @include media-up(md) {
    &__image {
      width: 70.9rem;
      max-height: unset;
    }

  }


}
