@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;


.f-news-slider {
  padding: 4.3rem 0 4.7rem;
  background: $green-1;
  overflow: hidden;

  .l-layout__headings {
    margin-bottom: 0;
  }

  &__subtitle {
    color: $grey-4;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 150%;
    font-size: 1.6rem;
  }

  &__title {
    letter-spacing: -0.01em;
    font-size: 2.9rem;

  }

  &__slider {
    padding: 2.6rem 0 0;
  }

  .slick-list {
    overflow: visible;

  }

  &__slider-wrapper {
    &>* {
      paddding: 0 10rem;
    }
  }

  &__item {
    list-style: none;
    height: 100%;

    &+* {
      padding-left: 1.9rem;
    }

    &:nth-child(4n + 1) {
      &>* {
        background: $green;
        color: $white;
      }
    }

    &:nth-child(4n + 2) {
      &>* {
        background: #fff;
        color: $black;
      }
    }

    &:nth-child(4n + 3) {
      &>* {
        background: $yellow;
        color: $black;
      }
    }

    &:nth-child(4n + 4) {
      &>* {
        background: $black;
        color: $white;
      }
    }
  }

  &__card {
    padding: 0 0 15rem 0;
    height: 100%;
    // justify-content: space-between;
    display: flex;
    flex-direction: column;

  }

  &__card-container {
    padding: 3rem 3rem 0rem;
  }

  &__card-paragraph {
    margin: 2rem 0 0;
    font-size: 1.6rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__card-image {
    width: 100%;
    height: 25rem;
    aspect-ratio: 16 / 9;
    display: block;

    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
    }
  }

  &__card-button {
    margin-top: 2rem;
    position: absolute;
    bottom: 5rem;
  }

  @include media-down(md) {
    &__button-container {
      margin-top: calc(-2.66rem);
      transform: translateY(-25%);
    }

    .c-slider__index {
      margin: 2.8rem 0 0 auto;
    }
  }

  @include media-up(md) {
    padding: 7.5rem 0 6.3rem;

    &__headings {
      grid-template-columns: 8rem 1fr;
      gap: 3.8rem;
      align-items: center;
    }

    &__title {
      font-size: 4.2rem;
    }

    &__card {
      // padding: 2.5rem 2.5rem 3.8rem;
    }

    &__card-paragraph {
      font-size: 1.6rem;
    }

    &__author-wrapper {
      padding: 10rem 0 0;
      grid-template-columns: 1fr 1fr;
    }

    &__card-image {
      // width: 19.4rem;
    }

    &__slider {
      padding: 3.75rem 0 0;
    }

    &__button-container {
      display: flex;
      justify-content: center;
      position: relative;
      // top: -2rem;
      // margin-bottom: -2rem;
    }
  }
}

.wp-admin {
  .f-news-slider {
    &__slider {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}