@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.c-months-navbar {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 10;

  border-radius: 50px;
  background-color: $black;
  padding: 6px 8px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &__nav,
  &__months {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__months {
    padding: 0;
    margin: 0;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &__item,
  &__btn-prev,
  &__btn-next {
    background: 0;
    display: block;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 70px;
    display: grid;
    place-items: center;
    transition: all 0.2s;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $white;
    margin: 0;
    cursor: pointer;
    font-family: $font-headings;

    &::before {
      display: none;
    }

    &:hover,
    &[data-selected="true"] {
      background-color: $white;
      border-color: $white;
      color: $black;
    }
  }

  &__btn-prev,
  &__btn-next {
    width: 40px;
    height: 40px;

    &.hide {
      display: none;
    }
  }

  @at-root {
    .t-events-archive.view-grid & {
      display: none;
    }
  }

  @include media-up(xs) {
    left: unset;
    top: 70px;
    right: 20px;
    padding: 10px;
    bottom: unset;
    transform: unset;

    &__item,
    &__btn-prev,
    &__btn-next {
      font-size: 1.25rem;
      padding: 10px 10px 7px;
    }
  }

  @include media-up(lg) {
    top: 120px;
  }

  @include media-up(xl) {
    right: 100px;
  }
}
