@use "../../../assets/scss/base/colors"as *;
@use "../../../assets/scss/base/mixins"as *;

.f-blog {
  padding-bottom: 60px;

  &__pagination {
    margin-top: 30px;
    position: relative;
    z-index: 1;
  }

  @include media-up(sm) {
    &__posts {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-up(md) {
    &__posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include media-up(lg) {
    &__posts {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.c-blog-header {
  background-color: clr(sand);
  padding: 60px 0 30px;

  .l-container {
    position: relative;
    z-index: 1;
  }

  @include media-up(md) {

    &__content {
      max-width: 750px;
      margin: 0 auto;
    }

    &__title {
      margin-top: 10px;
    }

    &__introduction {
      max-width: 80%;
    }
  }
}


.c-blog-header__deco {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  @include media-up(md) {
    top: 0;
  }

  svg {
    width: 150vw;
    right: 50vw;
    position: relative;
    display: block;
    height: 100%;
    object-fit: contain;
    margin-top: 60px;

    @include media-up(md) {
      width: auto;
      right: unset;
    }
  }
}
