@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-members-grid {
  padding: 4.8rem 0 7rem;
  background-color: $grey-1;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6.75rem 7.4rem;
    padding: 0 12.9rem;
  }

  &__item {
    background-color: white;
    // border: 1px solid red;
    padding: 2.5rem 2rem;
  }
}