@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-members-grid {
  padding: 4.8rem 0 7rem;
  background-color: $grey-1;

  &__headings {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
  }

  .c-deco {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__title {
    padding-left: 8rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem 3rem;
    padding: 3.5rem 3rem 0;
  }

  &__item {
    background-color: white;
    padding: 2.5rem 2rem 6.5rem;
  }

  &__item-image {
    width: 100%;
    height: 29.3rem;
    margin-bottom: 1.6rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__item-name {
    margin-bottom: 1.7rem;
  }

  &__item-position {
    font-family: $font-headings;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: .2rem;
  }

  &__item-description {
    color: $grey-4;
    font-family: $font-body;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: lowercase;
  }

  @include media-up(md) {

    &__headings {
      grid-template-columns: 1fr 1fr;
      // grid-template-columns: 8rem 1fr 1fr;
      align-items: center;
      padding-left: 12rem;
    }

    &__title {
      padding-left: 0;
    }

    &__description {
      width: 63.5rem;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 6.75rem 7.4rem;
      padding: 3.5rem 12.9rem 0;
    }
  }
}