@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-text-x-image {
  background: #F4F6FA;

  .l-container {
    position: relative;
  }

  &__tb {
    padding: 4.4rem 0 6rem;
    position: relative;
    z-index: 2;
  }


  &__wrapper {
    &.--have-section-deco {
      margin-top: -1.2rem;
    }

    & + * {
      padding: 5.2rem 0 0
    }
  }

  &__content {
    padding: 2.3rem 0 0;

  }

  &__section-deco {
    display: none;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 0 .7rem;
    letter-spacing: 0.014rem;
    color: $grey-4;
  }

  &__title {
    margin: 0 0 2.4rem;
    font-size: 2.9rem;
    white-space: pre-line;
    max-width: 35.1rem;
    line-height: 110%;
    letter-spacing: -.029rem;


  }

  &__paragraph {
    max-width: 34.8rem;

    p {
      font-size: 1.5rem;
      line-height: 140%;
    }

  }

  &__image {
    width: 100%;
    position: relative;


    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image-deco {
    position: absolute;
    right: 2.9rem;
    top: 0;
    transform: translate(0, -50%);
  }


  &__bg {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
  }

  .c-button {
    margin-top: 2.5rem;
    grid-template-columns: auto auto;
    display: inline-grid;
    gap: 7.75rem;
    font-size: 1.45rem;
    padding: 1.23rem 1.7rem;

    svg {
      width: 3.64rem;
      height: 3.64rem;
    }
  }

  @include media-up(md) {

    &__tb {
      padding: 9.8rem 0 12rem;
      position: relative;
      z-index: 2;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.--have-section-deco {
        margin-top: 1.5rem;


      }

      & + * {
        padding: 9.6rem 0 0
      }

      &.reverse {
        flex-direction: row-reverse;
      }
    }

    &__content {
      padding: 0 0 0 12.8rem;
      width: 50%;

      & > * {
        max-width: 57.7rem;

      }
    }

    &__section-deco {
      display: block;
      margin: 0 0 2.7rem;
    }
    &__subtitle {
      font-size: 1.6rem;
    }

    &__title {
      margin: 0 0 2.7rem;
      font-size: 4.2rem;
    }

    &__paragraph {

      p {
        font-size: 1.7rem;
      }
    }

    &__image {
      width: 50%;

      &.--have-deco {
        max-width: 63.5rem;

        &+ div {
          .f-text-x-image__paragraph {
            max-width: 63.4rem;

          }
        }

      }


    }
    &__image-deco {
      left: 0;
      right: auto;
      top: auto;
      bottom: 2.9rem;
      transform: translate(-50%, 0);

    }
    .c-button {
      margin: 2.7rem 0 0;
      font-size: 1.7rem;
      gap: 11.358rem;

      padding: 1.5rem 1.7rem;

      svg {
        width: 4.6rem;
        height: 4.6rem;
      }
    }
  }
}
