@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;


.f-actu-x-event {
  background: #F4F4FA;
  &__tb {
    padding: 4.3rem 0;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 3.4rem;

  }

  &__subtitle {
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.016rem;
  }

  &__title {
    font-size: 2.9rem;
    margin: 0 0 2.6rem;
    padding: .55rem 0 0;
    letter-spacing: -0.01em;

  }

  &__image {
    display: block;
    position: relative;
    aspect-ratio: 0.7658643326;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;
      padding: 0 2rem 2.3rem;

      & > * {
        position: relative;
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);


      }
    }
  }

  &__date {
    display: inline-block;
    background: $black;
    text-transform: uppercase;
    padding: .6rem;
    font-size: 1.5rem;
    letter-spacing: 0.01em;


  }

  &__tags {
    display: flex;
    padding: .9rem 0 0;

    & > * + * {
      margin-left: 1.3rem; // Géner le wrap
    }
  }

  &__tag {
    padding: 0.1rem 0.7rem 0.2rem;
    border-radius: 1.3rem;
    background: rgba(244, 244, 250, 0.90);
    color: $black;
    font-size: 1.5rem;

  }

  &__resume {
    font-size: 2rem;
    font-weight: 500;
    line-height: 110%;
    padding: .9rem 0 0;
    font-family: $font-headings;
    letter-spacing: -0.01em;
  }

  .c-button {
    margin-top: 2.3rem;
    font-size: 1.45rem;
    width: 23.8rem;
    height: 6.1rem;

    svg {
      width: 3.6rem;
      height: 3.6rem;
    }
  }


  @include media-up(md) {
    &__tb {
      padding: 10.4rem 0 6.5rem;
    }
    &__wrapper {
      grid-template:auto/ auto auto;
      justify-content: start;
      gap: 14.6rem;
    }

    &__title {
      font-size: 4.2rem;
      line-height: 110%;
      margin: 0 0 4.3rem;
    }

    &__image {
      aspect-ratio: 1.1775700935;
      width: 63rem;
    }
    &__resume {
      font-size: 2.9rem;
      line-height: 110%;

    }

    .c-button {
      margin: 5rem 0 0;
      width: 30rem;
      height: 7.1rem;
      svg {
        width: 4.6424rem;
        height: 4.6424rem;
      }
    }

  }
}
