@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;


.f-slider-full-width {
  position: relative;

  .l-container {
    max-width: 100vw;
  }

  &__slide {
    width: 100%;
    min-height: 29.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__index {
    position: absolute;
    bottom: 1.8rem;
    margin: 0;
    right: 50%;
    transform: translateX(50%);
  }

  @include media-up(md) {
    &__slide {
      aspect-ratio: 2.7;

    }

    &__index {
      right: 9.7rem;
      bottom: 3.3rem;
      transform: translateX(0%);
    }
  }
}

.wp-admin {
  .f-slider-full-width {
    &__slide {
      display: none;

      &:nth-of-type(1) {
        display: block;
      }
    }
  }
}
