@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;


.f-slider-full-width {
  position: relative;
  .l-container {
    max-width: $container-max-width;
  }
  &__tb
  {

  }
  &__slide {
    width: 100%;
    aspect-ratio: 2.7;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__index {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.3rem;
    margin: 0;

  }


}
