/* ----- BASE ----- */
/* Legacies, base and overall configurations */

@use "./lib/normalize.css";
@use "./base/breakpoints";
@use "./base/variables";
@use "./base/mixins";
@use "./base/fonts";
@use "./typography/typography";
@use "./base/base";
@use "./base/utils";

/* ----- LAYOUT ----- */
/* Layout and general components style */
@use "./layout/container";
@use "./layout/header";
@use "./layout/footer";
@use "./layout/newsletter";
@use "./layout/search-modal";


/* ----- COMPONENTS ----- */
@use "./components/layout";
@use "./components/buttons";
@use "./components/loaders";
@use "./components/marquee";
@use "./components/wysiwyg";
@use "./components/slider";
@use "./components/deco";
@use "./components/filters-bar";
@use "./components/multi-filter";
@use "./components/card";
@use "./components/tag";
@use "./components/pagination";
@use "./components/filters-bar-search-form";


/* ----- TEMPLATES ------------ */
@use "./templates/four-oh-four";
@use "./templates/legal";
@use "./tribe/index";
@use "./templates/events-single";
@use "./templates/single-bibliotheque-media";
@use "./templates/search";

html {
  // font-size: calc(80vw / 1728 * 10) !important;
  font-size: 10px;
}

.postarea.wp-editor-expand {
  display: none;
}

#revisionsdiv.postbox {
  display: none;
}


input[type=checkbox],
input[type=radio] {
  height: 16px;
  width: 16px;
}

input[type=checkbox]:checked::before {
  margin: -4px 0 0 -4px;
  height: 20px;
  width: 20px;
}

#acf-group_main_flexible .layout>.acfe-fc-placeholder .acfe-fc-overlay.-hover,
#acf-group_main_flexible .layout>.acfe-fc-placeholder:hover .acfe-fc-overlay {
  background: rgba(0, 0, 0, 0.235);
  z-index: 10000;

}

.layout>.acfe-fc-placeholder.acfe-fc-preview:hover>a {
  z-index: 100000;
}

#tribe_events_event_details #event_url,
#postexcerpt {
  display: none;
}


// disable hidden in out of the box plugin
//document.querySelector('#wpcp').classList.remove('hidden')

#wpcp {
  visibility: visible !important;
}



/* ----- LAYOUTS  ------------ */
@import "../../dotstarter/layouts/notice-banner/notice-banner.scss";
@import "../../dotstarter/layouts/header-yellow/header-yellow.scss";
@import "../../dotstarter/layouts/column/column.scss";
@import "../../dotstarter/layouts/text-x-image/text-x-image.scss";
@import "../../dotstarter/layouts/testimonials/testimonals.scss";
@import "../../dotstarter/layouts/news-slider/news-slider.scss";
@import "../../dotstarter/layouts/slider-full-width/slider-full-width.scss";
@import "../../dotstarter/layouts/page-header/page-header.scss";
@import "../../dotstarter/layouts/actu-x-event/actu-x-event.scss";
@import "../../dotstarter/layouts/dropdowns-list/dropdowns-list.scss";
@import "../../dotstarter/layouts/blog/blog.scss";
@import "../../dotstarter/layouts/generic-content/generic-content.scss";
@import "../../dotstarter/layouts/members-grid/members-grid.scss";
@import "../../dotstarter/layouts/operateurs-grid/operateurs-grid.scss";
@import "../../dotstarter/layouts/ressources-section/ressources-section.scss";
@import "../../dotstarter/layouts/project-partners-section/project-partners-section.scss";
@import "../../dotstarter/layouts/key-numbers/key-numbers.scss";
@import "../../dotstarter/layouts/contact-form/contact-form.scss";
@import "../../dotstarter/layouts/program/program.scss";
@import "../../dotstarter/layouts/cards-columns/cards-columns.scss";
@import "../../dotstarter/layouts/cards-slider/cards-slider.scss";
@import "../../dotstarter/layouts/next-events/next-events.scss";
@import "../../dotstarter/layouts/article/article.scss";
@import "../../dotstarter/layouts/button-insert/button-insert.scss";
@import "../../dotstarter/layout-parts/yellow-background/yellow-background.scss";
@import "../../dotstarter/layouts/formation-calendar/formation-calendar.scss";
@import "../../dotstarter/layouts/video-player/video-player.scss";
@import "../../dotstarter/layouts/dropbox-iframe/dropbox-iframe.scss";





/* ----- ANIMATIONS  ------------ */
// @use "./animations/transitions";