/* ----- BASE ----- */
/* Legacies, base and overall configurations */

@use "./lib/normalize.css";
@use "./base/breakpoints";
@use "./base/variables";
@use "./base/mixins";
@use "./base/fonts";
@use "./typography/typography";
@use "./base/base";
@use "./base/utils";

/* ----- LAYOUT ----- */
/* Layout and general components style */
@use "./layout/container";
@use "./layout/header";
@use "./layout/footer";
@use "./layout/newsletter";

/* ----- COMPONENTS ----- */
@use "./components/layout";
@use "./components/buttons";
@use "./components/loaders";
@use "./components/marquee";
@use "./components/wysiwyg";
@use "./components/slider";
@use "./components/deco";
@use "./components/multi-terms-selector";
@use "./components/filters-bar";
@use "./components/multi-filter";

/* ----- TEMPLATES ------------ */
@use "./templates/four-oh-four";
@use "./templates/legal";
@use "./tribe/index";
@use "./templates/events-single";

/* ----- ANIMATIONS  ------------ */
@use "./animations/transitions";
@use "./animations/keyframes";

/* ----- LAYOUTS  ------------ */
@import "../../dotstarter/layouts/notice-banner/notice-banner.scss";
@import "../../dotstarter/layouts/header-yellow/header-yellow.scss";
@import "../../dotstarter/layouts/column/column.scss";
@import "../../dotstarter/layouts/text-x-image/text-x-image.scss";
@import "../../dotstarter/layouts/testimonials/testimonals.scss";
@import "../../dotstarter/layouts/slider-full-width/slider-full-width.scss";
@import "../../dotstarter/layouts/page-header/page-header.scss";
@import "../../dotstarter/layouts/actu-x-event/actu-x-event.scss";
@import "../../dotstarter/layouts/dropdowns-list/dropdowns-list.scss";
@import "../../dotstarter/layouts/blog/blog.scss";
@import "../../dotstarter/layouts/generic-content/generic-content.scss";
@import "../../dotstarter/layouts/members-grid/members-grid.scss";
@import "../../dotstarter/layouts/ressources-section/ressources-section.scss";
@import "../../dotstarter/layouts/project-partners-section/project-partners-section.scss";
@import "../../dotstarter/layouts/key-numbers/key-numbers.scss";
@import "../../dotstarter/layouts/contact-form/contact-form.scss";



/* ----- DOT/COMPONENTS  ------------ */
@import "../../dotstarter/components/post-card/post-card.scss";
@import "../../dotstarter/components/events-filters-bar/events-filters-bar.scss";
@import "../../dotstarter/components/months-navbar/months-navbar.scss";