@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-generic-content {
  padding: 9.8rem 0 8rem;
  padding-bottom: 5rem;
  position: relative;

  max-width: 100vw;

  p,
  ul,
  li {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1.4;
  }

  &__tb {
    padding: 0 0 5rem;

    @include media-up(md) {
      padding: 0 0 9.4rem;
    }
  }

  &__slide {
    width: 69rem;


    &>img {
      width: 100%;
      height: auto !important;
      margin: 0 !important;
      aspect-ratio: 1.7225;
      object-fit: cover;
    }
  }


  //$root: &;

  &__deco {
    display: none;
  }

  &__main {
    max-width: 80.0rem;

    @include media-up(md) {
      margin-left: -.5rem;
    }

    .is-16-9 iframe {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__main>.generic-title:first-child {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__main {

    p,
    ul,
    li {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.7rem;
      line-height: 1.4;
    }

    strong {
      font-weight: bold;
      display: inline;
    }

    ol {
      display: block;
      list-style-type: decimal;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
      padding-left: 1rem;

      @include media-up(md) {
        padding-left: 4rem;
      }
    }

    ul {
      display: block;
      list-style-type: disc;
      margin-top: 0.5em;
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
      padding-left: 1rem;

      @include media-up(md) {
        padding-left: 4rem;
      }
    }

    p a,
    li a {
      text-decoration: underline;
      transition: ease 0.4s;

      &:hover {}
    }
  }

  strong {
    font-weight: bold;
  }

  .generic-title {
    position: relative;
    display: block;
    margin-top: 4rem;
    margin-bottom: 1rem;

    img {
      margin-right: 1rem;
    }
  }

  &__sidebar {
    min-width: 30rem;
  }

  &__sidebar-content {
    position: sticky;
    right: 0;
    top: 15rem;
    margin-top: 3rem;
  }

  &__deco {
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}

.generic-columns {
  margin-top: 4rem;
  margin-bottom: 1rem;

  &__title {
    margin-bottom: 1rem;
  }

  > :not(:last-child) {
    margin-bottom: 1rem;
  }

  @include media-up(sm) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 5rem;

    > :not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.generic-image,
.generic-gallery {
  margin: 1rem 5% 2rem;

  figcaption {
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1.4;
    color: #131313;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 69rem;
    margin: auto;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.generic-embed {
  width: 100%;
  overflow: hidden;
  padding: 1rem 5%;

  &.is-16-9 &__embed {
    padding-top: 56.25%;
    position: relative;
    border-radius: 1rem;

    iframe {
      border-radius: 1rem;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.f-generic-content__buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
