@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

.c-button {
  display: inline-flex;
  gap: 1.5rem;

  padding: 1.2rem 1.7rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;

  font-family: $font-headings;
  font-size: 1.45rem;
  font-weight: 600;
  line-height: 136.646%;
  letter-spacing: -.017rem;
  text-decoration: none;
  min-width: 23.8rem;

  @include media-up(md) {
    font-size: 1.7rem;
    min-width: 30rem;
  }


  border: 1px solid transparent;
  transition: all 0.3s;

  color: $black;
  background-color: $white;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }


  // Icon
  svg {
    width: 3.6rem;
    height: 3.6rem;
  }

  &__arrow {
    fill: $black;
  }

  &__circle {
    fill: $white;
  }


  // Sizes
  &--s {
    //width: 30rem;
    gap: 1.5rem;

    svg {
      width: 4.6rem;
      height: 4.6rem;
    }
  }

  &--xs {
    //width: 23.8rem;

    svg {
      width: 3.6rem;
      height: 3.6rem;
    }
  }


  // Types
  &--b {
    font-weight: 500;
    letter-spacing: -.0147rem;
    width: fit-content;
    min-width: unset;

    &.c-button--xs,
    &.c-button--s {
      padding: 1.55rem 3.85rem;

    }
  }

  // Colors
  &--white {

    .c-button__circle {
      fill: $yellow;
    }

    &:hover {
      background-color: $black;
      color: $white;

      .c-button__circle {
        fill: $white;
      }
    }
  }

  &--yellow {
    background-color: $yellow;

    &:hover {
      background-color: $yellow-1;
    }


  }

  &--yellow-1 {
    background-color: $yellow-1;

    &:hover {
      background-color: $white;
    }
  }

  &--green {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;

      .c-button__circle {
        fill: $yellow;
      }
    }

  }

  &--black {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  &--outline {
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
    padding: 1.6rem 1.7rem;

    svg {
      margin-left: 1rem;
      width: 1.4rem;
      height: 1.4rem;
    }

    span {
      padding: 0 0 0 1.7rem
    }

  }

  &.reset-filters {
    font-size: 1.4rem;
  }

  &--filter {
    height: 100%;
    width: 25.7rem;
    min-width: unset;
    border-radius: .3rem;
    position: relative;
    padding: .829rem 1.7rem;
    border: 0;


    span {
      font-size: 1.35rem;
      font-weight: 600;
      line-height: 136.646%;
      letter-spacing: -0.01rem;
    }

    svg {
      width: 3.6rem;
      height: 3.6rem;
    }

    .c-button__circle {
      fill: $yellow;
    }

  }

}
