@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

.c-button {
	display: inline-flex;
	width: 36.5rem;
  padding: 1.5rem 1.7rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;



  font-family: $font-headings;
  font-size: 1.7rem;
  font-weight: 600;
	line-height: 136.646%;
  letter-spacing: -.017rem;
	text-decoration: none;


	border: 1px solid transparent;
	transition: all 0.3s;

  color: #212121;
  background-color: #F4F4FA;

  &--sm {
    width: 30rem;
    height: 7.1rem;
  }

  &--b {
    font-weight: 500;
    letter-spacing: -.0147rem;
    padding: 1.9rem 3.5rem;
    width: fit-content;

    &.c-button--sm {
      width: fit-content;
      height: 4.4rem;
    }
  }

  &--yellow {
    background-color:$yellow;
  }
  &--yellow-2 {
    background-color:$yellow-1;
  }
  &--green {
    background-color:$green;
    color: $white;

  }
  &--black {
    background-color:$black;
    color: $white;
  }



}
