@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

.c-button {
  display: inline-flex;
  //width: 36.5rem;
  gap: 1.5rem;

  padding: 1.2rem 1.7rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;


  font-family: $font-headings;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 136.646%;
  letter-spacing: -.017rem;
  text-decoration: none;


  border: 1px solid transparent;
  transition: all 0.3s;

  color: $black;
  background-color: $white;


  // Icon
  svg {
    width: 6rem;
    height: 6rem;
  }

  &__arrow {
    fill: $black;
  }

  &__circle {
    fill: $white;
  }


  // Sizes
  &--s {
    //width: 30rem;
    gap: 1.5rem;

    svg {
      width: 4.6rem;
      height: 4.6rem;
    }
  }

  &--xs {
    //width: 23.8rem;

    svg {
      width: 3.6rem;
      height: 3.5rem;
    }
  }


  // Types
  &--b {
    font-weight: 500;
    letter-spacing: -.0147rem;
    padding: 1.9rem 3.5rem;
    width: fit-content;

    &.c-button--xs,
    &.c-button--s {
      padding: 1.55rem 3.85rem;

    }
  }

  // Colors
  &--white {

    .c-button__circle {
      fill: $yellow;
    }

    &:hover {
      background-color: $black;
      color: $white;

      .c-button__circle {
        fill: $white;
      }
    }
  }

  &--yellow {
    background-color: $yellow;

    &:hover {
      background-color: $yellow-1;
    }


  }

  &--green {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;

      .c-button__circle {
        fill: $yellow;
      }
    }

  }

  &--black {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  &--outline {
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
    padding: 1.6rem 1.7rem;

    svg {
      margin-left: 1rem;
      width: 1.4rem;
      height: 1.4rem;
    }

    span {
      padding: 0 0 0 1.7rem
    }

  }

}