@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

.c-deco {
  width: 6rem;
  height: 6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  @include media-up(md) {
    width: 8rem;
    height: 8rem;
  }
}