@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-filters-bar {

  display: flex;
  flex-direction: column;
  align-items: stretch;
  column-gap: 2.6rem;
  z-index: 10;
  width: 100%;

  &__title {
    font-family: $font-headings;
    font-size: 2rem;
    line-height: 120%; /* 24px */
    font-weight: 500;
    letter-spacing: -0.01em;
    margin: 0 0 .3rem;
  }

  &__filters {
    display: flex;
    gap: 1.1rem;
  }

  @include media-up(md) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    &__left {
      display: flex;
      align-items: flex-end;
      column-gap: 2.6rem;

    }

  }
}


