@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-filters-bar {
  margin: 30px 0 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  column-gap: 20px;

  position: relative;
  z-index: 2;

  &__header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: $font-headings;
    font-size: 0.9375rem;
    line-height: 1;
    font-weight: 700;
    text-transform: lowercase;
  }

  &__filters {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  @include media-up(md) {
    flex-direction: row;

    &__filters {
      margin-top: 0;
      flex-direction: row;
      column-gap: 20px;
    }
  }
}

.f-blog .c-filters-bar {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
