@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;


.c-filters-bar-search-form {
  background: $white;
  width: 25.7rem;
  border-radius: .3rem;
  display: grid;
  grid-template-columns: auto  auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.829rem 1.7rem 0.829rem 1.5rem;
  position: relative;


  & > svg {
    width: 1.6rem;
    height: auto;
    overflow: visible;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;


    border: 0;
    background: none;
    padding: .4rem 0;
    padding-left: 3.9rem ;
    padding-right: 5.107rem;

    &:focus-visible {
      outline-color: black;
      outline-width: 2px;
      outline-style: solid;
      border-radius: 2px;
    }

    &, &::placeholder {
      font-size: 1.35rem;
      ine-height: 136.646%;
      font-weight: 600;
      color: $black;
      letter-spacing: -0.01em;
      font-family: $font-headings;
    }
  }

  button {
    position: relative;
    z-index: 2;
    background: none;
    border: 0;
    cursor: pointer;

    & > svg {
      width: 3.6rem;
      height: 3.6rem;
      fill: $black;
    }

    .c-button__circle {
      fill: $yellow;
    }
  }
}
