@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/mixins" as *;
@use "../../../assets/scss/base/colors" as *;


.l-layout {
  &__headings {
    display: grid;
    grid-template-columns: 8rem 1fr;
    align-items: center;
    margin-bottom: 3.3rem;
    position: relative;
  }

  &__subtitle {
    color: $grey-4;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 150%;
    font-size: 1.6rem;
  }

  &__title {
    letter-spacing: -0.01em;
    font-size: 2.9rem;
  }

  &__headings {}

  &__deco {}

  &__titles {}

  &__title {}

  &__subtitle {}

  &__description {}

  @include media-up(md) {
    &__headings {
      // padding: 0 0 0 12.8rem;
      grid-template-columns: 8rem 1fr 1fr;
      gap: 3.8rem;
      align-items: center;
    }

    &__title {
      font-size: 4.2rem;

    }
  }
}
