@use "../base/colors" as *;
@use "../base/mixins" as *;

.c-pagination {
  display: flex;
  justify-content: center;
  gap: 3rem;

  padding-top: 3.2rem;

 @include media-up(md) {
    padding-top: 4.8rem;
  }


  &__pages {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__page {
    width: 5.4rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0;
    border: 1px solid $black;
    transition: all .3s;
    border-radius: .2rem;
    background: transparent;


    &.active {
      background-color: $black;
      color: $white;
    }
  }

  &__prev,
  &__next {
    transition: all .3s;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.hide {
      display: none;
    }
  }

  &.hide {
    display: none;

  }

  @include media-up(md) {
    &__page:not(.active):hover,
    &__prev:hover,
    &__next:hover {
      border-color: $black;
      color: $black;
    }
  }
}
