@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;


.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.c-slider {
  &__index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 15px auto 0;

    background-color: $white;
    border-radius: 20px;
    color: $black;
  }

  &__index-mid {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 -.2rem;;

  }

  &__prev,
  &__next {
    padding: .9rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 0.86rem;
    height: 0.86rem;
    box-sizing: content-box;
  }
}

.slick-dots {
  display: none !important;
}
