@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../../../assets/scss/animations/easings" as *;

.l-footer {
  &__yellow {
    overflow: hidden;
    position: relative;
    padding: 5rem 0 5rem;
    background: $yellow;

  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    z-index: 1;
  }

  &__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 64rem;
    height: 100%;
    object-fit: contain;
    object-position: left top;
    pointer-events: none;
    user-select: none;
  }

  &__columns {
    display: flex;
    flex-direction: column;
  }

  &__white {
    padding: 4.8rem 0 2.7rem;
    background: $white;
  }

  &__logo {
    display: block;
    width: 30rem;
    height: 6rem;
    object-fit: contain;
    object-position: left center;
  }

  &__baseline {
    color: $black;
    font-family: $font-headings;
    font-size: 1.345rem;
    font-style: normal;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -.0269rem;
    text-transform: uppercase;

    display: block;
    max-width: 22rem;
    margin: 1.5rem 0 0 8.6rem;
  }

  &__mailto {
    color: $black;
    text-decoration: none;
    margin: 2.4rem 0 4rem;
  }

  &__social-link {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    background-color: $yellow-1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3667rem;
    margin-top: 1.5rem;
    transition: ease 0.4s;

    svg {
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      transition: ease 0.4s;
    }
  }

  &__partners-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    margin: 2.7rem 0 0 0;
  }

  &__logo-partners {
    display: block;
    width: 11.2rem;
    height: 7.7rem;
    object-fit: contain;
    object-position: center center;
  }

  &__sponsors {
    display: none
  }

  &__copyright {
    color: $grey-4;
    font-family: $font-body;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -.0238rem;
    text-transform: uppercase;
  }

  &__credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__dot {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: fit-content;
    color: $black;
    padding: 12px 16px;
    border-radius: 50px;
    border: 1px solid gray;
    transition: all 0.3s;
    text-decoration: none;

    svg {
      position: relative;
      top: -0.1rem;
    }
  }

  @include media-up(md) {
    &__sponsors {
      display: block;
      visibility: hidden;
    }

    &__yellow {
      padding: 11rem 0 23.8rem;
    }

    &__container {

      grid-template-columns: 1fr 1fr 1fr;
      gap: 9rem 1.7rem;

    }

    &__mailto {
      &:hover {
        text-decoration: underline;
      }
    }

    &__social-link {
      &:hover {
        background-color: $black;

        svg path {
          fill: $white;
          stroke: $white;
        }
      }
    }

    &__credits {
      justify-content: flex-end;
    }

    &__dot {
      path {
        transition: all 0.3s;
      }

      &:hover {
        background-color: #000;
        border-color: #4999ff;
        color: #4999ff;

        path {
          fill: #4999ff;
        }
      }
    }

    &__copyright-x-credits {
      padding: 2.4rem 0 0;
      margin-top: 6.6rem;
      border-top: 1px solid $grey-1;
    }
  }
}


.l-modal {
  pointer-events: none;
  user-select: none;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: scale(1.2);

  transition: opacity 0.6s $Power3EaseInOut, transform 0.6s $Power3EaseInOut;



  &__background {
    pointer-events: none;
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 41, 51, 0.80);
    backdrop-filter: blur(.2rem);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 0;

    transition: opacity 0.8s $Power4EaseInOut;
    cursor: pointer;
  }


  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    padding: 2rem;
    width: 100%;
    max-width: 90vw;
    max-height: 90vh;

    overflow-y: scroll;

    // border-radius: 3rem;
    background: $white;
  }

  &__btn-close {
    // border-radius: 5rem;
    border: none;
    border: .1rem solid $white;
    background: $white;

    position: absolute;
    right: 2rem;
    top: 1rem;

    color: #1F2933;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    cursor: pointer;
    transition: 0.45s ease;

    svg path {
      transition: ease 0.4s;
    }

    &:hover {
      svg path {
        stroke: $orange;
      }
    }
  }

  &__title {
    margin-bottom: 4rem;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $grey-4;
    line-height: 1.5;
    font-family: $font-body;
    margin-bottom: .5rem;
  }

  &.visible {
    pointer-events: initial;
    opacity: 1;
    transform: scale(1);

    .l-modal__background {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .wpforms-container {
    margin: 0;
  }

  .wpforms-container .wpforms-field {
    padding: 0;
  }

  input {
    border-radius: 0 !important;
  }

  input[type=text],
  input[type=button],
  input[type=submit] {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
  }

  input:focus,
  textarea:focus,
  select:focus,
  a:focus {
    outline: none !important;
    box-shadow: 0 0 0 0px #fff, 0px 0px 0px rgba(0, 0, 0, 0);
  }

  input[placeholder],
  [placeholder],
  *[placeholder],
  ::placeholder {
    color: $black !important;
    opacity: 1 !important;
    font-size: 2.1rem;
  }


  .wpforms-field {
    margin-bottom: 2.9rem;
  }

  input[type=email],
  input[type=text] {
    box-sizing: border-box;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid $black !important;
    padding: 4rem 0 !important;
    display: inline-block;
    width: 100%;
    max-width: 100% !important;
  }

  input[type=email] {
    color: $black;
    font-family: $font-headings;
    font-size: 4.558rem !important;
    font-style: normal;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -.1823rem;
    padding: 4rem 0;
  }

  input[type=text] {
    color: $black;
    font-family: $font-headings;
    font-size: 2.1rem !important;
    font-style: normal;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -.084rem;
    padding: 3rem 0;

  }

  .wpforms-container input.wpforms-field-medium,
  .wpforms-container select.wpforms-field-medium,
  .wpforms-container .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
  }

  .wpforms-field-label-inline {
    padding-left: 2rem !important;
    color: $grey-4;
    font-family: $font-body;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .wpforms-submit-container {
    margin-top: 2rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .wpforms-submit {
    background-color: $yellow !important;
    background-image: url('/wp-content/themes/cyclo-cargologie/assets/img/cta-arrow.svg') !important;
    background-repeat: no-repeat !important;
    background-position: right 17px top 50% !important;
    display: flex;
    width: 23.8rem !important;
    height: 6.1rem !important;
    padding: 1.5rem 1.7rem !important;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: .3rem !important;
    color: $black !important;

    font-family: $font-headings !important;
    font-size: 1.45rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 136.646% !important;
    letter-spacing: -.0145rem !important;

    background-image: url('/assets/img/arrow-circle.png');


    display: none;

    &:hover {
      background-position: right 12px top 50% !important;

    }

    &.is-show {
      display: flex;
    }


  }

  @include media-up(md) {


    &__container {
      max-width: 75.8rem;
      max-height: 80vh;
      padding: 4.4rem 12.8rem;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    &__btn-close {
      position: absolute;
      right: 4.5rem;
      top: 4rem;
    }

    &__logo {
      width: auto;
    }

    .wpforms-field-gdpr-checkbox {

      .wpforms-field-required {
        list-style-type: none;

        li {
          gap: 1rem;
        }
      }
    }
  }
}