@use "../base/variables" as *;
@use "../base/colors" as *;
@use "../base/mixins" as *;

.main-menu {
  padding: 1.6rem 2.2rem 1.6rem;
  background: #F4F6FA;


  .menu-item {
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: -.042rem;
    text-decoration: none;
    color: $black;
    line-height: 110%;
  }

  .current_page_item {
    font-weight: 400;

  }

  &__logo {
    img {
      width: 20rem;
    }
  }

  &__nav {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $yellow;
    z-index: 10;
  }

  &__nav-wrapper {
    position: relative;
    z-index: 12;
    display: flex;
  }

  &__nav-image {
    width: 61rem;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav-deco {
    position: absolute;
    right: 0;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    width: 158rem;
    height: 158rem;

    svg {
      width: 100%;
      height: 100%;
    }

  }

  &__nav-content {
    padding: 19.4rem 0 0 12rem
  }

  &__nav-content-links {
    padding: 1.5rem 0 0;
    display: flex;
    flex-direction: column;

    & > * + * {
      margin-top: 1.5rem;
    }
  }

  &__nav-content-row {
    display: flex;
    flex-direction: column;
    align-items: start;

    & + * {
      padding: 9.0rem 0 0;
    }
  }

  &__mailto {
    color: $black;
    text-decoration: none;
    margin: 1.5rem 0 1.7rem;
  }


  &__social-link {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3667rem;
    margin-top: 1.5rem;
    transition: ease 0.4s;

    svg {
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      transition: ease 0.4s;
    }
  }


  &__cta-open {
    background: $white;
    border-radius: 5px;
    padding: 2rem 1.2rem;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > span {
      display: none;
    }
  }

  &__cta-close {
    position: absolute;
    top: 3.8rem;
    right: 9.5rem;

  }


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__hamburger {
    display: flex;
    flex-direction: column;

    span {
      display: block;
      width: 5.7rem;
      height: .1rem;
      background-color: $black;

      &:last-child {
        margin-top: .3rem;
      }

    }
  }


  @include media-up(md) {
    padding: 4rem 9.6rem 2.5rem;

    &__logo {
      img {
        width: auto;
      }
    }


    &__social-link {
      &:hover {
        background-color: $yellow-1;


      }
    }

    &__mailto {
      &:hover {
        text-decoration: underline;
      }
    }

    &__cta-open {
      padding: 1.6rem 1.8rem;

      & > span {
        padding: 0 0 0 1.9rem;
        font-weight: 500;
        font-size: 1.8rem;
        display: block;
      }
    }
  }

}


.l-navbar {
}
