@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.l-newsletter {
  position: relative;


  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__column {

    &:nth-of-type(1) {
      padding: 10rem $container-margin-sm 10rem $container-margin-sm;

      .wpforms-container {
        margin: 0;
      }

      .wpforms-container .wpforms-field {
        padding: 0;
      }

      input {
        border-radius: 0 !important;
      }

      input[type=text],
      input[type=button],
      input[type=submit] {
        -webkit-appearance: none !important;
        -webkit-border-radius: 0 !important;
      }

      input:focus,
      textarea:focus,
      select:focus,
      a:focus {
        outline: none !important;
        box-shadow: 0 0 0 0px #fff, 0px 0px 0px rgba(0, 0, 0, 0);
      }

      input[placeholder],
      [placeholder],
      *[placeholder],
      ::placeholder {
        color: $black !important;
        opacity: 1 !important;
        font-size: 3.3rem;
      }


      .wpforms-field {
        margin-bottom: 2.9rem;
      }

      input[type=email],
      input[type=text] {
        box-sizing: border-box;
        border-radius: 0 !important;
        border: none !important;
        border-bottom: 1px solid $black !important;

        display: inline-block;
        width: 100%;
        max-width: 100% !important;
      }

      input[type=email] {
        color: $black;
        font-family: $font-headings;
        font-size: 4.558rem;
        font-style: normal;
        font-weight: 300;
        line-height: 111%;
        letter-spacing: -.1823rem;
        padding: 4rem 0;
      }

      input[type=text] {
        color: $black;
        font-family: $font-headings;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 111%;
        letter-spacing: -.084rem;
        padding: 3rem 0;

      }

      .wpforms-container input.wpforms-field-medium,
      .wpforms-container select.wpforms-field-medium,
      .wpforms-container .wpforms-field-row.wpforms-field-medium {
        max-width: 100% !important;
      }

      .wpforms-field-label-inline {
        padding-left: 2rem !important;
        color: $grey-4;
        font-family: $font-body;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }

      .wpforms-submit-container {
        margin-top: 2rem !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      .wpforms-submit {
        background-color: $yellow !important;
        background-image: url('/wp-content/themes/cyclo-cargologie/assets/img/cta-arrow.svg') !important;
        background-repeat: no-repeat !important;
        background-position: right 17px top 50%;
        display: flex;
        width: 23.8rem;
        height: 6.1rem;
        padding: 1.5rem 1.7rem;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        border-radius: .3rem !important;
        color: $black !important;

        font-family: $font-headings;
        font-size: 1.45rem;
        font-style: normal;
        font-weight: 600;
        line-height: 136.646%;
        letter-spacing: -.0145rem;

        background-image: url('/assets/img/arrow-circle.png');


        display: none;

        &:hover {
          background-position: right 12px top 50%;

        }

        &.is-show {
          display: flex;
        }




      }
    }

    &:nth-of-type(2) {
      background: $green;
      color: $white;
      padding: 21.5 $container-margin-sm 3.4rem $container-margin-sm;
    }
  }

  .heading3 {
    margin-bottom: .7rem;
    font-size: 3.5rem;
    line-height: 110%;
    letter-spacing: -.035rem;
  }

  .heading6 {
    display: block;
    max-width: 53rem;
    margin-bottom: 6.2rem;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -.02rem;
  }

  &__button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem 1.6rem;
  }

  &__deco {
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: -1;
    object-fit: contain;
    object-position: left center;
  }

  @include media-up(md) {
    &__container {
      grid-template-columns: 1fr 1fr;

    }

    &__column {

      &:nth-of-type(1) {
        padding: 21.5rem 13.9rem 17.6rem calc(3.3rem + #{$container-margin-lg});

      }

      &:nth-of-type(2) {
        padding: 21.5rem calc(13rem + #{$container-margin-lg}) 17.6rem 13.5rem;
      }
    }
  }

}