@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../../../assets/scss/animations/easings" as *;

.l-pop-up {
  display: block;
  border: 1px solid $white;
  color: white;
  background: $green;
  min-height: 25rem;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  bottom: 0%;
  right: 0%;
  padding: 2.4rem 3rem;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.l-pop-up--visible {
    opacity: 1;
    transform: translateY(0);
  }

  // Color variants coming from PHP class `.l-pop-up--{color}`
  &.l-pop-up--green {
    background: $green;
    color: $white;
  }

  &.l-pop-up--black {
    background: $black;
    color: $white;
  }

  &.l-pop-up--purple {
    background: $purple;
    color: $white;
  }

  &.l-pop-up--yellow {
    background: $yellow;
    color: $black;
  }

  &.l-pop-up--white {
    background: $white;
    color: $black;
  }

  &__header-container {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-gap: 1.6rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    h3 {
      margin-top: 0;
      font-size: 2.9rem;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.29px;
      margin-bottom: 3rem;
    }

    p {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  .c-newsletter-form {
    $root: &;

    &__control {
      border-bottom: 1px solid $black;
    }
  }

  @include media-up(sm) {
    min-height: 25rem;
    width: 50rem;
    padding: 2.4rem 3rem;
  }
}

.l-pop-up__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 3rem;
  color: inherit;
  cursor: pointer;
  z-index: 10;
}
