@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-cards-columns {
  padding: 4rem 0 8.7rem;
  background-color: $grey-1;
  overflow: hidden;


  .l-container {
    position: relative;
  }

  &__headings {
    display: grid;
    grid-template-columns: 8rem 1fr;
    align-items: center;
    margin-bottom: 3.3rem;
  }

  &__item {
    position: relative;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__section {
    width: 30.3rem;
    background: white;
    border-bottom: 4px solid $black;
  }

  &__section-image {
    position: relative;

    &::after {
      content: attr(data-id);
      color: $purple;
      font-family: $font-body;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 300;
      line-height: 111%;
      letter-spacing: -1.381px;
      position: absolute;
      right: .5rem;
      top: 112%;
      z-index: 0;
      transform: translate(0, 0);
    }
  }

  &__image {
    width: 100%;
    height: 22.3rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__section-container {}

  &__section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.6rem;
  }

  &__section-title {
    padding-bottom: .8rem;
    max-width: 25.5rem;
    display: block;
  }

  &__section-description {
    padding-bottom: .8rem;
  }

  @include media-up(md) {
    padding: 7.3rem 0 8.7rem;

    &__headings {
      grid-template-columns: 8rem 1fr;
      gap: 3.8rem;
      align-items: center;
    }

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: normal;
      gap: .6rem;
    }


    &__title {
      max-width: 63.5rem;
    }

    &__section {}

    &__section-image {
      position: relative;

      &::after {
        content: attr(data-id);
        color: $purple;
        font-family: $font-body;
        font-size: 2.3012rem;
        font-style: normal;
        font-weight: 300;
        line-height: 111%;
        letter-spacing: -1.381px;
      }
    }

    &__image {}

    &__section-container {}

    &__section-text {}

    &__section-title {
      padding-bottom: 2.7rem;
    }

    &__section-description {
      padding-bottom: 2.7rem;
    }
  }
}
