@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-program {
  padding: 4rem 0 0;
  background-color: $yellow;
  overflow: hidden;


  .l-container {
    position: relative;
  }

  &__headings {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
  }

  &__item {
    position: relative;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__description {
    display: block;
    max-width: 63.5rem;
  }

  &__section {
    padding: 3rem 0 4rem;

    &:nth-of-type(1) {
      background: $yellow;
    }

    &:nth-of-type(2) {
      background: $grey-1;
    }

    &:nth-of-type(3) {
      background: $white;
    }
  }

  &__section-image {
    position: relative;

    .c-deco {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(10%, -30%);
    }

    &::after {
      content: attr(data-id);
      color: $purple;
      font-family: $font-body;
      font-weight: 100;
      font-size: 4.5rem;
      line-height: 111%;
      letter-spacing: -4.706px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
      transform: translate(0, 50%);
    }
  }

  &__image {
    width: 100%;
    height: 25rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  &__section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__section-title {
    padding-bottom: .8rem;
  }

  &__section-description {
    padding-bottom: 1.8rem;
  }

  @include media-up(md) {
    padding: 7.3rem 0 0;

    &__headings {
      grid-template-columns: 1fr 1fr;
      align-items: end;
    }

    &__title {
      padding-left: 12.8rem;
    }

    &__section {
      padding: 12.5rem;

      &:nth-of-type(1) {
        padding-top: 5rem;
      }
    }

    &__section-image {
      position: relative;

      &::after {
        content: attr(data-id);
        color: $purple;
        font-family: $font-body;
        font-weight: 100;
        font-size: 7.844rem;
        line-height: 111%;
        letter-spacing: -4.706px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        transform: translate(0, 50%);
      }
    }

    .c-deco {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
    }

    &__image {
      width: 76.5rem;
      height: 49.6rem;
    }

    &__section-container {
      grid-template-columns: 1fr 1fr;
      gap: .7rem;
    }

    &__section-text {
      padding-left: 12.8rem;
    }

    &__section-title {
      padding-bottom: 2.7rem;
    }

    &__section-description {
      padding-bottom: 2.7rem;
    }
  }

}
