@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-column {
  //background: #F4F6FA;

  .l-container {
    position: relative;
  }

  &__wrapper {
    position: relative;
    top: -6.2rem;
  }

  &__item + * {
    padding: 4.8rem 0 0;
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1.06986027944;
    }

    &::after {
      content: attr(data-id);
      color: $yellow;
      font-family: $font-body;
      font-weight: 100;
      font-size: 6.272rem;
      line-height: 111%;
      letter-spacing: -1.1052rem;
      opacity: 0.7;
      mix-blend-mode: plus-darker;
      position: absolute;
      right: 1.3rem;
      bottom: 0;
      z-index: 0;
      transform: translate(0, 100%);
      @include media-up(md) {
        font-size: 7.122rem;

      }
    }
  }

  &__title {
    padding: 2.4rem 0 0;
    font-size: 2.4rem;
    letter-spacing: -0.01rem;
  }

  &__description {
    padding: .8rem 0 0;

    position: relative;
    z-index: 2;
  }

  &__bg {
    display: none;
  }

  @include media-up(md) {

    &__tb {
      position: relative;
      z-index: 1;
    }
    &__bg {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 0;
    }


    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;

      gap: 1.6rem;

      top: -15rem;

      & > * {
        max-width: 47.5%;
        flex: 1;
        min-width: calc(33% - 1.6rem * 3);
      }
    }
    &__item {
      position: relative;

      &::after {
        //content: attr(data-id);
        color: $yellow;
        font-family: $font-body;
        font-size: 18.4208rem;
        font-weight: 100;
        line-height: 111%;
        letter-spacing: -1.1052rem;
        opacity: 0.7;
        mix-blend-mode: plus-darker;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 0;
        transform: translate(-50%, 50%);

      }

      & + * {
        padding: 0;
      }
    }


    &__title {
      padding: 2.6rem 0 0;
      font-size: 2.9rem;

    }

    &__description {
      padding: 2.2rem 0 0;
      font-size: 1.7rem;
    }

  }
}
