@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-column {

  &__tb {
    padding: 0 0 7.3rem;

  }

  .f-header-yellow {
    overflow: hidden;

    &__tb {
      padding: 4.95rem 0 32.3rem;
      position: relative;
      z-index: 1;
    }

    &__subtitle {
      color: $grey-4;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 150%;
      font-size: 1.4rem;
      letter-spacing: 0.01em;

    }

    &__title {
      font-size: 2.9rem;
      margin: 0;
      line-height: 110%;
      letter-spacing: -0.01em;

      padding: .4rem 0 0;
    }

    &__paragraph {
      max-width: 34.8rem;

    }
  }

  .l-container {
    position: relative;
  }

  &__wrapper {
    position: relative;
    margin-top: -29.7rem;
  }

  &__item+* {
    padding: 4.8rem 0 0;
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 125 / 134;
    }

    &::after {
      content: attr(data-id);
      color: $purple;
      font-family: $font-body;
      opacity: 0.7;
      mix-blend-mode: darken;
      position: absolute;
      right: 1.3rem;
      bottom: 0;
      z-index: 0;
      transform: translate(0, 130%);

      font-size: 3.6961rem;
      font-style: normal;
      font-weight: 200;
      line-height: 111%;
      letter-spacing: -.2218rem;
    }
  }

  &__title {
    padding: 2.4rem 0 0;
    font-size: 2.4rem;
    letter-spacing: -0.01em;
  }

  &__description {
    padding: .8rem 0 0;

    position: relative;
    z-index: 2;
  }

  &__cta-wrapper {
    margin: 5.2rem 0 0;
  }

  .c-button {
    margin-top: 2.3rem;
    font-size: 1.45rem;
    width: 23.8rem;
    height: 6.1rem;

    svg {
      width: 3.6rem;
      height: 3.6rem;
    }
  }

  @include media-up(md) {
    .f-header-yellow {
      &__wrapper {
        gap: 5.6rem;
      }

      &__tb {
        padding: 10.9rem 0 31rem;
      }

      &__title {
        max-width: 60rem;
        font-size: 4.2rem;

        letter-spacing: -0.01em;
      }

      &__paragraph {
        padding: 1.5rem 0 0;
        max-width: 63.5rem;
        font-size: 1.7rem;
        letter-spacing: 0.0em;

      }

      &__content {
        padding: 3.2rem 0 0;
      }

    }

    &__tb {
      padding: 0 0 7.6rem;
      position: relative;
      z-index: 2;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;

      gap: 1.6rem;

      margin-top: -25.3rem;

      &>* {
        max-width: 47.5%;
        flex: 1;
        min-width: calc(33% - 1.6rem * 3);
      }
    }

    &__item {
      position: relative;

      &::after {
        //content: attr(data-id);
        color: $yellow;
        font-family: $font-body;
        font-size: 18.4208rem;
        font-weight: 100;
        line-height: 111%;
        letter-spacing: -1.1052rem;
        opacity: 0.7;
        mix-blend-mode: darken;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 0;
        transform: translate(-50%, 50%);

      }

      &+* {
        padding: 0;
      }
    }

    &__title {
      padding: 2rem 0 0;
      font-size: 2.9rem;


    }

    &__description {
      padding: .9rem 0 0;
      font-size: 1.7rem;
      line-height: 140%;
      letter-spacing: -0.01em;

    }

    &__cta-wrapper {
      display: flex;
      justify-content: center;
      margin: 4.5rem 0 0;
    }

    .c-button {
      width: 30rem;
      height: 7.1rem;

      svg {
        width: 4.6424rem;
        height: 4.6424rem;
      }
    }

  }
}