@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-page-header {
  &__tb {
    padding: 4.4rem 0 4.6rem;
  }

  &__title {
    font-size: 2.9rem;
    margin: 0;
    box-sizing: content-box;

  }

  &__paragraph {
    padding: 1.1rem 0 0;
    font-size: 1.7rem;
    max-width: 63.5rem;
    line-height: 140%;
  }

  &__wrapper {
    position: relative;
  }

  .c-button {
    margin-top: 2.8rem;

  }

  &__scroll-down {
    display: none;
  }

  &__intro {
    font-size: 2em;
    margin-bottom: 1.2rem;
    display: block;
  }

  &__encart {
    background-color: #EBDFFD;
    padding: 1rem 1.4rem;
    border-radius: .3rem;
    display: block;
    margin: 1.2rem 0;
  }

  @include media-down(md) {
    &__heading {
      display: grid;
      gap: 1.4rem;
      margin-bottom: 2rem;
    }

    &__deco {
      .c-deco {
        // width: 4.4rem;
        // height: 4.4rem;
      }
    }
  }


  @include media-up(md) {
    &__tb {
      padding: 9.5rem 0 12rem
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4.4rem;
    }

    &__title {
      padding-left: 2rem;
      max-width: 62.6rem;
      font-size: 5.1rem;
      letter-spacing: -.051rem;
      line-height: 110%;
    }

    &__paragraph {
      font-size: 1.8rem;
      padding: 0;
      max-width: 63.5rem;

    }

    &__intro {
      font-size: 2.4rem;
    }

    .c-button {
      margin: 2.8rem 0 0;
    }

    &__deco {
      // position: absolute;
      // top: 0%;
    }

    &__scroll-down {
      display: block;
      position: absolute;
      top: 90vh;
      left: 22.6rem;
      z-index: 10;
      width: 31.5rem;
      height: 8.1rem;
      border-radius: 4.05rem;
      background: none;
      border: none;
      transition: ease 0.6s;
      transform-origin: center center;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }

      &:before {
        content: "";
        display: block;
        width: 31.5rem;
        height: 8.1rem;
        border-radius: 4.05rem;
        opacity: 0.3;
        background: #181818;
        filter: blur(47px);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__scroll-down-image {}
  }
}