@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-dropdowns-list {
  $root: &;
  position: relative;

  &__container {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    height: 0;
    overflow: hidden;
  }

  &__figure {
    width: 100%;
    opacity: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s 0.5s;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  &__header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px 0 0;
  }

  &__arrow {
    position: absolute;
    right: 2px;
    top: 1px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
  }

  &__item {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;

    &.js-open {
      #{$root}__content {
        background-color: $purple;
        padding-bottom: 45px;
        margin: 23px 0 20px 0;
      }

      #{$root}__header {
        filter: blur(0);
        color: #fff;
      }

      #{$root}__arrow {
        transform: rotate(90deg);

        path {
          fill: #fff;
          stroke: #fff;
        }
      }

      #{$root}__figure {
        opacity: 1;
        height: auto;
        margin: 20px 0 0;
      }
    }
  }

  &__content {
    padding: 30px 17px;
    background-color: $grey-1;
    border-radius: 10px;
    margin: 23px 0 0 0;
    transition: background-color 0.3s;
  }

  &__text {
    margin: 18px 0 0 0;
  }

  &__button {
    display: inline-block;
    position: absolute;
    bottom: 0;
    transform: translateY(0%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    .c-button {
      border-color: $white;
    }
  }

  &__item.js-open {
    #{$root}__button {
      opacity: 1;
      transition-delay: 0s;
      transform: translateY(10%);
      pointer-events: all;
    }

    #{$root}__text,
    #{$root}__text > * {
      color: $white;
    }

    #{$root}__figure {
      margin: 0;
    }
  }

  @include media-up(md) {
    &__container {
      margin: 40px auto 0;
    }

    &__item {
      margin-bottom: 40px;
    }
    &__item.js-open {
      #{$root}__button {
        transform: translateY(50%);
      }
    }

    &__content {
      margin: 0 !important;
      padding: 35px 35px 25px;
    }

    &__arrow {
      top: 10px;
    }

    &__text {
      max-width: 80%;

      ul {
        list-style-image: initial;
      }
    }
  }

  @include media-up(xl) {
    &__figure {
      display: block;
      position: absolute;
      z-index: -2;
      top: 50px;
      left: 95%;
      width: 50%;
      max-width: 350px;
      height: auto;
      object-fit: contain;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // transform: translate(-80px, -20px);
      transform: translate2(-80px);
      opacity: 0;
      transition: transform 0.3s cubic-bezier(0.44, 0.78, 0, 1) 0.3s,
        opacity 0.3s ease-out 0.3s;

      &::before {
        content: "";
        display: block;
        padding-top: 66%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__item:nth-last-child(2) {
      z-index: 2;
    }

    &__item:last-child &__figure {
      bottom: 0;
      top: unset;
      z-index: -4;
    }
  }

  @include media-up(xxl) {
    &__figure {
      width: 70%;
      max-width: unset;
    }
  }
}
