@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-dropdowns-list {
  padding: 5rem 0 5rem;
  $root: &;
  position: relative;
  background: $white;

  &__inner {
    height: 0;
    overflow: hidden;
    padding-bottom: 1rem;
  }

  &__header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px 0 0;
  }

  &__container {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    color: $grey-4;
    font-family: $font-body;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }


  &__arrow {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-200%, 0%);
    transition: transform 0.3s ease-out;
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    border: 1px solid $purple;


    &::before,
    &::after {
      content: "";
      background: $green;
      display: block;
      width: .8rem;
      height: .2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotateZ(90deg);
      transition: ease 0.2s;
    }
  }

  &__item {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid $grey-1;
    padding: 0 0 0rem 8.2rem;

    &.js-open {
      border-bottom: 1px solid $purple;

      #{$root}__content {
        padding-bottom: 45px;
        margin: 23px 0 20px 0;
      }

      #{$root}__header {}

      #{$root}__arrow {
        &::after {
          transform: translate(-50%, -50%) rotateZ(180deg);
        }
      }
    }
  }

  &__content {
    padding: 30px 17px;
    // background-color: $grey-1;
    // border-radius: 10px;
    margin: 23px 0 0 0;
    transition: background-color 0.3s;
  }

  &__text {
    margin: 18px 0 0 0;
  }

  &__button {
    display: inline-block;
    bottom: 0;
    transform: translateY(0%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    margin-top: 1.9rem;

    .c-button {}
  }

  &__item.js-open {
    #{$root}__button {
      opacity: 1;
      transition-delay: 0s;
      transform: translateY(10%);
      pointer-events: all;
    }

    #{$root}__text,
    #{$root}__text>* {}
  }

  @include media-up(md) {

    padding: 8.5rem 0 11.2rem;


    &__headings {
      padding-left: 12rem;
      margin-bottom: 5.7rem;
    }

    &__column-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6.9rem;
    }

    &__container {}

    &__item {
      padding: 0 6.1rem 0rem 8.2rem;
    }

    &__item.js-open {
      #{$root}__button {}
    }

    &__content {
      margin: 0 !important;
      padding: 35px 35px 25px;
    }

    &__arrow {}

    &__text {
      max-width: 80%;

      ul {
        list-style-image: initial;
      }
    }
  }
}