@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.c-events-filters-bar {


  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);

    margin-bottom: 10px;
  }

  &__taxonomies {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  &__selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    gap: var(--gap);
  }

  &__reset {
    display: none;

    &.show {
      display: block;
    }
  }

  &__past-events-btn {
    background-color: $white;
    border-radius: 70px;
    padding: 11px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #232323;
    cursor: pointer;
    flex-shrink: 0;

    display: grid;
    place-items: center;

    transition: all 0.2s;

    svg path {
      stroke: $purple;
    }
  }

  .c-tag {
    cursor: pointer;
  }

  @include media-up(md) {
    .l-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__filters {
      margin-bottom: 0;
      justify-content: flex-start;
    }

    &__past-events-btn {
      padding: 13.5px;
    }
  }
}

