@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/mixins" as *;
@use "../../../assets/scss/base/colors" as *;

.f-post-card {
  display: block;
  padding: 10px;
  border: 1px solid #f8f7ef;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  transition: all 0.3s;

  &:hover {
    background-color: clr(white);
    box-shadow: 0px 81px 48px rgba(0, 0, 0, 0.02),
      0px 36px 36px rgba(0, 0, 0, 0.03), 0px 9px 20px rgba(0, 0, 0, 0.03),
      0px 0px 0px rgba(0, 0, 0, 0.03);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.2);
    // backdrop-filter: blur(2px);
  }

  &__header,
  &__content {
    position: relative;
    z-index: 1;
  }

  &__header {
    height: 280px;
    border-radius: 3px;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    user-select: none;
  }

  &__read-duration {
    margin-top: 10px;

    color: clr(blue-darkest);
    font-size: 0.625rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-family: $font-headings;

    letter-spacing: -0.08em;

    span {
      color: clr(blue);
      // position: relative;
      // top: -1px;

      font-family: $font-headings;
      font-style: normal;
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 110%;

      letter-spacing: -0.01em;
    }
  }

  &__terms {
    display: flex;
    align-items: flex-start;
    column-gap: 2px;
    margin-top: 2px;
    overflow: hidden;
  }

  &__tag,
  &__category {
    white-space: nowrap;
  }

  &__tag {
    border-color: clr(blue-dark);
    color: clr(blue-dark);
  }

  &__category {
    border-color: clr(emerald);
    color: clr(emerald);
  }

  &__title {
    margin-top: 15px;

    font-size: 1.375rem;
    line-height: 1.1;
    font-weight: 600;
    color: clr(blue-darkest);
  }

  &__excerpt {
    margin-top: 10px;
  }

  @include media-up(md) {
    &__title {
      font-size: 1.375rem;
    }
  }
}
