@use "../base/variables" as *;

$titles: (
  mobile: (1: (font-size: 2.9rem,
      line-height: 110%,
      font-weight: 500,
      letter-spacing: .029em,
      font-family: $font-headings,
    ),
    2: (font-size: 2.4rem,
      line-height: 130%,
      font-weight: 500,
      letter-spacing: .024em,
      font-family: $font-headings,
    ),
    3: (font-size: 2rem,
      line-height: 140%,
      font-weight: 500,
      letter-spacing: .02em,
      font-family: $font-headings,
    ),
    4: (font-size: 2rem,
      line-height: 140%,
      font-weight: 500,
      letter-spacing: .02em,
      font-family: $font-headings,
    ),
    5: (font-size: 2rem,
      line-height: 140%,
      font-weight: 500,
      letter-spacing: .02em,
      font-family: $font-headings,
    ),
  ),
  desktop: (1: (font-size: 5.1rem,
      line-height: 110%,
      font-weight: 500,
      letter-spacing: .051em,
      font-family: $font-headings,
    ),
    2: (font-size: 4.2rem,
      line-height: 110%,
      font-weight: 500,
      letter-spacing: .042em,
      font-family: $font-headings,
    ),
    3: (font-size: 3.5rem,
      line-height: 110%,
      font-weight: 500,
      letter-spacing: .035em,
      font-family: $font-headings,
    ),
    4: (font-size: 3.5rem,
      line-height: 110%,
      font-weight: 500,
      letter-spacing: .035em,
      font-family: $font-headings,
    ),
    5: (font-size: 2.4rem,
      line-height: 130%,
      font-weight: 400,
      letter-spacing: .024em,
      font-family: $font-headings,
    ),
  ),
);

// ========== BODY FONTS ==========

$body: (
  mobile: (xxl: (font-size: 2.2rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
    xl: (font-size:1.9rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
    lg: (font-size: 1.7rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
    md: (font-size:1.5rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
    sm: (font-size: 1.3rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
    xs: (font-size: 1.2rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
    xxs: (font-size: 1.1rem,
      font-weight: 400,
      line-height: 140%,
      font-family: $font-body,
    ),
  ),
  desktop: (),
);