@use "../../../assets/scss/base/variables" as *;
@use "../../../assets/scss/base/colors" as *;
@use "../../../assets/scss/base/mixins" as *;

.f-cards-slider {
  padding: 4rem 0 8.7rem;
  background-color: $grey-1;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 54rem;
    width: 100%;
    background-color: $yellow;
  }


  .l-container {
    position: relative;
  }

  .slick-list {
    overflow: visible;
  }


  &__item {
    position: relative;
  }

  &__wrapper {
    margin-top: 3.3rem;
    position: relative;
    // display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__section {
    width: 37.8rem;
    background: white;
    border-bottom: 4px solid $black;

    &+* {
      margin-left: .7rem;
    }

  }

  &__section-image {
    position: relative;

    &::after {
      content: attr(data-id);
      color: $purple;
      font-family: $font-body;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 300;
      line-height: 111%;
      letter-spacing: -1.381px;
      position: absolute;
      right: .5rem;
      top: 112%;
      z-index: 0;
      transform: translate(0, 0);
    }
  }

  &__image {
    width: 100%;
    height: 22.3rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__section-container {}

  &__section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.6rem;
  }

  &__section-title {
    padding-bottom: .8rem;
    max-width: 32rem;
    display: block;
  }

  &__list {}

  &__list-element {
    &:before {
      content: "";
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      // background: $green;
      // background-image: url();
      background-image: url("/wp-content/themes/cyclo-cargologie/assets/img/gear.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: .2rem;
    }

    padding-left: 2.5rem;
    position: relative;
    color: $black;
    font-family: $font-body;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: .3rem;
  }

  @include media-up(md) {
    padding: 13.8rem 0 9.7rem;

    &__wrapper {
      margin-top: 10rem;

      position: relative;
      // display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: normal;
      gap: .7rem;
    }

    &__title {
      max-width: 63.5rem;
      padding-left: 12rem;
    }

    &__section {}

    &__section-image {
      position: relative;

      &::after {
        content: attr(data-id);
        color: $purple;
        font-family: $font-body;
        font-size: 2.3012rem;
        font-style: normal;
        font-weight: 300;
        line-height: 111%;
        letter-spacing: -1.381px;
      }
    }

    &__image {}

    &__section-container {}

    &__section-text {}

    &__section-title {
      padding-bottom: 2.7rem;
    }

    &__section-description {
      padding-bottom: 2.7rem;
    }
  }
}

.wp-admin {
  .f-cards-slider {
    &__slider {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
